{:width  240
 :height 360
 :file   "captain.png"
 :animations {:none {:frames      1
                     :y-offset    0
                     :frame-delay 100}
              :idle {:frames      4
                     :y-offset    1
                     :frame-delay 15}
              :run  {:frames      4
                     :y-offset    2
                     :frame-delay 8}
              :jump {:frames      7
                     :y-offset    3
                     :frame-delay 8}}}
